.player-card-container {
    display: flex;
    align-items: center;
    margin: 10px;
}

.player-card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    width: 200px;
}

.players-section-container-inner {
    display: flex;
    flex-direction: column;
}

.players-section-container {
    display: flex;
}

.meeples {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}