.tile {
    border-style: dotted;
    border-color: gray;
    border-width: 1px;
    background: lightyellow;
}

.valid-tile {
    border-style: solid;
    border-color: lightgreen;
    border-width: 1px;
    background: white;
}

.valid-tile:hover {
    background-color: lightgrey;
}

.place-meeple-zones {
    position: relative;
    z-index: 100;
}

.meeple-on-tile {
    position: relative;
    z-index: 100;
}

.place-meeple-zones>div {
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
}
