.controls-panel {
    margin: 10px 50px;
    height: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.new-game-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.new-game-btn {
    border: solid 1px;
    padding: 5px;
    height: 40px;
    width: 150px;
    line-height: 40px;
    background-color: aquamarine;
    opacity: 0.75;
    cursor: pointer;
}

.new-game-btn:hover {
    opacity: 1;
}

.next-player-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 120px;
}

.tile-controls-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.tiles-left-section {
    margin-top: 10px;
}